/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(17, 17, 17);
    color: #e91313e0;
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}

header {
    color: rgba(216, 5, 5, 0.925);
    text-align: center;
}

article {
    font-family: 'Times New Roman', Times, serif;
}

footer {
    text-align: center;
    margin-top: 10px;
}


/* specifieke stijlen */

#hoofdtitel {
    font-family:'Courier New', Courier, monospace;
}

a {
    color: #e22b2be0;
    text-decoration: none;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: rgb(121, 121, 121);
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 108px;
}

nav li a:hover {
    background-color: rgb(173, 173, 173);
}

nav li a.active {
    background-color: rgb(238, 238, 238);
}


/* inhoud */

#Speech {
    width: 45%;
    float: left;
    margin-right: 15px;
}

#stukjehometekst {
    margin-top: 20px;
    float: left;
    width: 340px;
}

#homevideo {
    float: right;
    margin-top: 20px;
}