/* Basislayout */

html, body {
    background-color: rgb(17, 17, 17);
    color: #e91313e0;
}

main {
    margin: 0 auto;
    width: 900px;
    height: 1380px;
    position: relative;
}

header {
    display: block;
    overflow: auto;
    color: rgba(216, 5, 5, 0.925);
    background-color: rgb(25, 25, 25);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

article {
    font-family: 'Times New Roman', Times, serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 900px;
}

/* specifieke stijlen */

a {
    color: #e22b2be0;
    text-decoration: none;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    background-color: rgb(121, 121, 121);
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    text-decoration: none;
    width: 140px;
}

nav li a:hover {
    background-color: rgb(173, 173, 173);
}

nav li a.active {
    background-color: rgb(238, 238, 238);
}


/* inhoud */

#Speech {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

#stukjehometekst {
    margin-top: 10px;
    float: left;
    width: 390px;
}

#homevideo {
    float: right;
    margin-top: 10px;
}

#hitlertitel {
    width: 50%;
    float: left;
}

#portrethitler {
    float: right;
    width: 50%;
}


/* footer */

.bladzijde {
    text-align: center;
    float: right;
    width: 500px;

}

.volgendeblz {
    float: right;
    text-align: right;
    width: 200px;
}

.vorigeblz {
    float: left;
    width: 200px;
}